body 
{
}

.header 
{
    background-color: #fae6ce;
    position: relative;
}

.header .logo
{
    left: 2px;
    float: left;
}

.header .login
{
    right: 2px;
    float: right;
}

.menubar
{
    clear: both;
}

.content
{
    /* Make this the context box for the main body content */
    position: relative;
}

.reportview_metadata
{
    float: left;
}

.reportview_comments
{
    float: right;
}

.reportview_issues
{
    clear: both;
}
